[Unit]
Description=start a demo on overlay mount folder
RequiresMountsFor=/home/root

[Service]
Type=simple
ExecStart=/home/root/test

[Install]
WantedBy=multi-user.target
