[Unit]
Description=Mount overlayfs
RequiresMountsFor=/media/data

[Service]
Type=simple
ExecStart=/bin/sh -c 'mount -t overlay -o lowerdir=/home/root,upperdir=/media/data/home/root/upper,workdir=/media/data/home/root/work overlay /home/root'

[Install]
WantedBy=multi-user.target
